/* Sets the intial font, height, and background color */
html, body {
  height: 100%;
  font-family: Georgia;
  background: #1d2438;
}

/* Writes the texts */
.main {
  color: white;
  padding: 12%;
  text-align: center;
  font-size: 30px;
}

/* Sets the fixed header */
.navigate {
  box-shadow: 0px 1px 10px Black;
  background-color: #23293d;
  position: fixed;
  height: 10%;
  top: 0;
  width: 100%;
  right: 0;
  z-index: 30;
}

/* Leaves some space between the logo and the leftmost border */
.menu {
  padding-right: 2%;
}

/* Styles the navigator */
.menu a {
  float: right;
  color: white;
  padding: 30px 20px;
  text-decoration: none;
  font-size: 20px;
}

/* Logo of the panel */
.logo img {
  width: 60px;
  height: 60px;
  float: left;
  padding-left: 4%;
  padding-top: 0.5%;
}

.icons {
  position: fixed;
  top: 35%;
  left: 30px;
}

/* Change the color of links on hover */
a:hover {
  color: Gray; 
}

.resume {
  color: white;
}

.resume:hover{
  color: Gray;
}

a {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

.material-icons:hover{
  fill:gray;
}